* {
    border: none;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 16px;

    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#modules-left {
    background: transparent;
}

#custom-menu {
    margin: 5px 0px;
    margin-left: 10px;
    margin-right: 5px;
    padding: 0 20px;
    background: alpha(#bb7744, 0.8);
    background-image: url("/home/trickk/.config/waybar/assets/mate.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 20px;
    border-radius: 40px;
}

#temperature {
    font-weight: 600;
    margin: 5px 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 15px;
    background: alpha(#222222, 0.8);
    color: alpha(#f4a460, 0.6);
    border-radius: 40px;
}

#bluetooth {
    margin: 5px 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 15px;
    background: alpha(#222222, 0.8);
    color: #c9a554;
    border-radius: 40px;
}

#pulseaudio {
    margin: 5px 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 15px;
    background: alpha(#222222, 0.8);
    color: #d7c483;
    border-radius: 40px;
}

#workspaces {
    transition: all 200ms ease-in-out;
    background: transparent;
    border-radius: 50px;
}

#workspaces button {
    transition: all 200ms ease-in-out;
    margin: 5px 0px;
    padding: 0 5px;
    color: #b36d43;
    border-radius: 3px;
}

#workspaces button.active {
    min-width: 30px;
    background: #bb7744;
    color: #222222;
    border-radius: 50px;
    padding: 0 2px;
}

#modules-right {
    background: transparent;
}

#clock {
    margin: 5px 0px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 0 10px;
    font-weight: 600;
    background: alpha(#bb7744, 0.8);
    color: #222222;
    border-radius: 40px;
}

#backlight {
    margin: 5px 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 15px;
    background: alpha(#222222, 0.8);
    color: alpha(#f4a460, 0.6);
    border-radius: 40px;
}

#battery {
    margin: 5px 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 10px;
    background: alpha(#222222, 0.8);
    color: #c9a554;
    border-radius: 40px;
}

@keyframes blink-charging {
    to {
        color: #c9f554;
    }
}

#battery.charging {
    animation-name: blink-charging;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #ff5554;
    }
}

#battery.warning:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    margin: 5px 0px;
    margin-left: 5px;
    margin-right: 3px;
    padding: 0 10px;
    border-radius: 40px;
    background: alpha(#222222, 0.8);
    color: #d7c483;
}


