#window {
    margin: 5px;
    border: 2px solid #524f67;
    background-color: rgba(19,17,24, 0.8);
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    color: #e0def4;
}

#input {
    margin: 5px;
    border: 0px solid #524f67;
    box-shadow: none;
    background-color: rgba(31,29,46, 0.9);
    color: #ebbcba;
    padding: 6px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: rgba(31,29,46, 0.5);
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: rgb(19,17,24, 0.5);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 4px;
    color: #e0def4;
}

#entry:selected {
    background-color: rgba(38,35,58, 0.8);
    border-left: 4px solid #c4a7e7;
    outline: none;
}

#text:selected {
    color: #ebbcba;
}
